################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/WFDOTtoPDF/FileContentIndex/3831bba4-0af8-44d5-810b-af4d0f25f0d0.vsidx
